<!DOCTYPE html>
<html>

<head>
  <title>  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= yield %>
<!-- main styles -->
<div class="main index">

  <!-- H E A D E R  start -->
  <header>

    <!-- h-line start -->
    <div class="h-line">

      <nav class="h-menu">
        <ul>
          <li><a href="#">ГЛАВНАЯ </a></li>
          <li class="act"><a href="#">ФОТО</a></li>
          <li><a href="#">АУДИО</a></li>
          <li><a href="#">ВИДЕО</a></li>
          <li><a href="#">ФОРУМ</a></li>
        </ul>
      </nav>


    </div>
    <!-- h-line end -->

  </header>
  <!-- H E A D E R  end -->

  <!-- C O N T E N T  start -->
  <div class="content">

    <nav class="bread">
      <a href="#">Главная</a><span> / </span>
      <a href="#">Аудио</a>
    </nav>

    <!-- L E F T  start -->
    <aside class="left">
      <p><a href="#"><img src="/assets/image/pic001.jpg" width="200" height="131" alt="" /></a></p>
      <p><a href="#"><img src="/assets/image/pic001.jpg" width="200" height="131" alt="" /></a></p>

      <h6>Реклама на сайте</h6>
      <p><a href="#"><img src="/assets/image/pic002.jpg" width="200" height="280" alt="" /></a></p>

    </aside>
    <!-- L E F T  end -->

    <!-- C E N T E R  start -->
    <div class="center">

      <section>

        <article>
          <div class="title">
            <h2>Джастин Бибер обнял Селену Гомес</h2>
            <div class="rating">
              <span>&nbsp;</span>
              <span>&nbsp;</span>
              <span>&nbsp;</span>
              <span class="pas">&nbsp;</span>
              <span class="pas">&nbsp;</span>
              <div class="clear"></div>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus arcu lectus, molestie at placerat vel, egestas in quam. Sed eu erat sit amet dolor vehicula facilisis id in tellus. Aliquam erat lacus, sollicitudin ut ornare eget, rhoncus itae erat. Etiam porttitor lorem gravida risus placerat ornare. Nulla dictum mollis elementum. In hac habitasse platea dictumst. Duis enim lacus, fringilla scelerisque imperdiet it amet, tincidunt non nibh.</p>
          <p>Phasellus ac arcu sit amet arcu pharetra fringilla. In lorem urna, molestie in condimentum eu, adipiscing id ipsum. In ut dolor a elit lobortis lobortis. Quisque eu augue eget est tristique vestibulum in sed orci.</p>
          <p><a href="#" class="more">Подробнее-></a></p>
        </article>

        <article>
          <div class="title">
            <h2>Джастин Бибер обнял Селену Гомес</h2>
            <div class="rating">
              <span>&nbsp;</span>
              <span>&nbsp;</span>
              <span>&nbsp;</span>
              <span class="pas">&nbsp;</span>
              <span class="pas">&nbsp;</span>
              <div class="clear"></div>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus arcu lectus, molestie at placerat vel, egestas in quam. Sed eu erat sit amet dolor vehicula facilisis id in tellus. Aliquam erat lacus, sollicitudin ut ornare eget, rhoncus itae erat. Etiam porttitor lorem gravida risus placerat ornare. Nulla dictum mollis elementum. In hac habitasse platea dictumst. Duis enim lacus, fringilla scelerisque imperdiet it amet, tincidunt non nibh.</p>
          <p>Phasellus ac arcu sit amet arcu pharetra fringilla. In lorem urna, molestie in condimentum eu, adipiscing id ipsum. In ut dolor a elit lobortis lobortis. Quisque eu augue eget est tristique vestibulum in sed orci.</p>
          <p><a href="#" class="more">Подробнее-></a></p>
        </article>

      </section>

      <div class="clear"></div>
    </div>
    <!-- C E N T E R  end -->

    <div class="clear"></div>
  </div>
  <!-- C O N T E N T  end -->

  <!-- F O O T E R  start -->
  <footer>
    Copyright 2012. All rights Reserved. ILoveBieber.ru
  </footer>
  <!-- F O O T E R  end -->

</div>
<!-- /main styles -->



</body>
</html>


