<!DOCTYPE html>
<html>
<head>
  <title>BBR</title>
  <%= stylesheet_link_tag    "forem/base/style", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
